#marq1 {
    height: 50vh;
    width: inherit;
}

#trophy-row img {
    height: 15vh;
}

body {
    background-color: #ffc9d1;
    background-size: cover;
    background-position: center;
    user-select: none;
}

img {
    -webkit-user-drag: none;
}

.color-gold {
    color: #8d7800;
}

.section-border {
    border-top: black solid;
    border-top-width: 3vh;
}

.hidden {
    display: none;
}